OPENROUTER_API_KEY=s 
HEADLESS=false
TIMEOUT_MS=30000
MIN_PAUSE_SEC=1.0
YANDEX_MAPS_API_KEY= 
GOOGLE_PLACES_API_KEY= 
FIREWORKS_API_KEY=f 
GOOGLE_CLOUD_PROJECT=leadparser-491719
VK_ACCESS_TOKEN=
BRIDGE_PORT=8765
BRIDGE_HOST=127.0.0.1
NEURALSYNC_ROOT=D:/2 Clode Proj/1/neuralsync